
/*I don't really want to use the universal selector to change anything but its a requirement*/

body, html {
		height: 100%;
		margin: 0;
		font: 400 15px/1.8 "Lato", sans-serif;
		color: #000;
	}
div
{
	background-color:#0F0015;
}

	.bgimg-1, .bgimg-2, .bgimg-3 {
		position: relative;
		opacity: 1;
		/* real heart of paralax scrolling,
		scroll is default */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}
	.bgimg-1 {
		background-image: url("../images/para.jpg");
		min-height: 60%;
	}

	.bgimg-2 {
		background-image: url("../images/para2.jpeg");
		min-height: 400px;
	}

	.bgimg-3 {
		background-image: url("../images/para3.jpeg");
		min-height: 400px;
	}
	
	.leftblurb{
		float:left;
		background-color: transparent;
		padding: 18px;
	}
	.rightblurb{
		float: right;
		background-color: transparent;
		padding: 18px;
	}

	.caption {
		position:relative;
		padding:20px 40px;
		left: 0;
		width: 100%;
		height: auto;
		color: #fff;
	}

	h3 {
		margin:0;
		letter-spacing: 5px;
		text-transform: uppercase;
		font-size: 25px;
		letter-spacing: 10px;
		color: #fff;
	}
	.lead{
		letter-spacing: 5px;
		text-transform: uppercase;
		font: 20px "Lato", sans-serif;
		color: #fff;
	}
	.skillpills ul {
	    padding: 0;
	    overflow: hidden;
	}

	.skillpills li {
		list-style-type: none;
	    float: left;
	    padding: 0px 5px 0px 5px;
	    margin: 0px 5px 0px 5px;
		
		border: solid 2px #3F6C8F;
		border-radius: 3px;
		background-color: #440BD2;
	}


	/* Turn off parallax scrolling for tablets and phones */
	@media only screen and (max-device-width: 1024px) {
		.bgimg-1, .bgimg-2, .bgimg-3 {
			background-attachment: scroll;
		}
	}


	#footer
	{
		position:relative;
	    right: auto;
		bottom: 0;
		left: auto;
		background-color:black;
		text-align:right;
	}

	#footer ul {
		list-style-type: inline;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: black;
		
	}

	#footer li {
	    float: left;
	}

	#footer li a {
		font-weight: bold;
	    display: block;
	    color: #3F6C8F;
	    text-align: center;
	    padding: 10px;
	    text-decoration: none;
	}

	#footer li a:hover {
	    
		color: #54A6E8;
		text-shadow: 0px 0px 20px #680AFF;
	}